<nav class="navbar navbar-dark bg-light">
    <div class="container">
        <span class="navbar h1"><strong>Dashboard</strong></span>
    </div>
</nav>

<div class="my-6 d-grid gap-3">
    {{#each posts as |post| }}
    <div class="card shadow mx-auto" style="width: 70%;">
        <div class="card-header jusify-content-between">
            <a href="/posteditor/{{post.id}}" class="h4"><strong>{{post.name}}</strong></a>
            <div>Post Created by {{post.user.name}} on {{format_date post.date_created}}</div>
        </div>
    {{/each}}
    <div class="mx-auto">
        <a class="btn btn-primary" href="/newpost"><i class="bi bi-plus-lg"></i>Add a New Post</a>
    </div>
</div>